html, body {
    height: 100%;
}

body {
	background: url('/images/linen.png') repeat fixed
}

.itinerary-content {
}

.no-border-input {
	border: 0;
	padding: 0 8px;
	margin: 5px;
}

div.dateTitle {
	padding: 5px;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

div#header {
  height: 30px;
  padding: 15px;
}
div#header h3,
div#header h2, {
	font-family: Righteous, inherit;
	color: lightSlateGrey;
}

div#content,
div#dateAndStops,
div#date,
div#stops,
div#itinerary {
  height: 100%;
  padding: 5px;
}

.date,
.stop{
    height: 100%;
    .rounded-corners;
    border: 1px solid lightBlue;
    margin-bottom: 10px;
}

.stop{
	background-color: white;
    height: 31px;
    margin: 5px;
    padding: 5px;
	position: relative;
}
.stop:hover {
	cursor: move;
}
.stop .delete-link {
	position: absolute;
	padding: 10px;
	right: 0;
	top: 0;
}

.btn {
  margin-top:10px;
  margin-left:20px;
}

div#map {
    height: 600px;
    
    img {
      max-width: none; /* Fix for boostrap breaking maps on FF */
      -webkit-animation: fadeIn 0.5s;
      /* -moz-animation:    fadeIn 0.5s; */ /* Turned off animations on FF & IE, seems to be very unefficient */  
      /* -ms-animation:     fadeIn 0.5s; */ 
    }
}

#addStopInput{
  margin-left:132px;
}
